body {
    background-color: #fcfcfc;
    font-size: 14px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 50px;
}

.nav a{
    color: #5a5a5a;
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav li {
    display: inline;
}

.navbar-header a{
    color: #5a5a5a;
    font-family: 'Lato',"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight:300;
    font-size: 16px;
    padding: 14px 10px;
    text-transform: uppercase;
}


.jumbotron {
    background-image:url('../img/Anna.svg');
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

.centered-and-cropped {
    object-fit: cover
}

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotron h1 {
    color: #fff;
    font-size: 62px;
    font-family: 'Shift', sans-serif;
    font-weight: bold;
    text-shadow: grey 0.1em 0.1em 0.2em;
}

.jumbotron p {
    font-size: 20px;
    color: #fff;
}

@media (max-width: 979px) {
    body {
        padding-top: 0px;
    }
}